<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head.html:START-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog - Demeter</title>
    <link media="all" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/blog.css" rel="stylesheet">
</head>
<!-- head.html:END-->


<body>

<div class="container">

    <!-- header.html:START-->
    <div th:replace="blog/parts/header.html :: template">header</div>
    <!-- header.html:END -->

    <!-- menu.html:START-->
    <!--/*@thymesVar id="menuItems" type="List<com.filipmoszczynski.blog.menu.MenuDto>"*/-->
    <div
            th:replace="blog/parts/menu.html :: template
                (items=${menuItems})">menu
    </div>
    <!-- menu.html:END-->

    <!-- banner.html:START-->
    <div th:replace="blog/parts/banner.html :: template">banner</div>
    <!-- banner.html:END-->

    <div class="row mb-2">
        <div class="col-md-6">
            <!-- post-widget.html:START-->
            <div th:replace="blog/parts/post-widget.html :: template">post-widget</div>
            <!-- post-widget.html:END-->
        </div>
        <div class="col-md-6">
            <!-- post-widget.html:START-->
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
            </div>
            <!-- post-widget.html:END-->
        </div>
    </div>
</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <!-- post.html:START -->
            <section th:each="post : ${posts}">
                <div th:replace="blog/parts/post :: template (post=${post})"></div>
            </section>
            <!-- post.html:END -->
        </div>

        <aside class="col-md-4 blog-sidebar">

            <!-- about.html:START -->
            <div th:replace="blog/parts/about.html :: template">about</div>
            <!-- about.html:START -->

            <!-- archives.html:START -->
            <div th:replace="blog/parts/archives.html :: template">archives</div>
            <!-- archives.html:END -->

            <!-- elsewhere.html:START -->
            <div th:replace="blog/parts/elsewhere.html :: template">elsewhere</div>
            <!-- elsewhere.html:END -->
        </aside>
    </div>
</main>

<!-- footer.html:START -->
<div th:replace="blog/parts/footer.html :: template">footer</div>
<!-- footer.html:START -->


</body>

</html>